<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log In</h1>
    <form>
        <input type="text" id="nome" placeholder="Nome">
        <input type="password" id="senha" placeholder="Senha">
        <button type="button" onclick="login()">Login</button>
    </form>
    
    <script>
        async function login() {
            const dados = {
                nome: document.getElementById('nome').value,
                senha: document.getElementById('senha').value
            };

            const resposta = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            });

            if (resposta.ok) {
                const resultado = await resposta.json();
                alert(resultado.message);
            } else {
                alert("Erro ao enviar!");
            }
        }

    </script>
</body>
</html>