<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="main.css" rel="stylesheet" type="text/css">

</head>
<body>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="courses.html">Courses</a></li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="develpment.html">Development</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>

    <div class="head">
        <h1>Kelly Rosa Braghetto</h1>
        <br>      
        <h2>Assistant Professor
            <br>
            <a href="http://www.ime.usp.br/dcc/index-english.php" class="el">Department of Computer Science</a>
            <br>
            <a href="http://www.ime.usp.br/" class="el"> Institute of Mathematics and Statistics</a>
            <br>
            <a href="http://www.usp.br/internacional/home.php?&amp;idioma=en" class="el">University of São Paulo</a>
        </h2>

	<hr>

    <dl>
	<dt>Office:  IME/USP room C-224</dt>
	<dt>Tel.: +55 11 3091-0750</dt>
	<dt>Fax: +55 11 3091-6134</dt>
	<dt>Email: <a href="mailto:kellyrb@ime.usp.br">kellyrb@ime.usp.br</a></dt>
	<dt>Address:</dt> 
		<dd>Departamento de Ciência da Computação - IME - USP</dd>
		<dd>Rua do Matão, 1010</dd>
		<dd>Cidade Universitária - São Paulo - SP - Brasil</dd>
		<dd>CEP: 05508-090</dd>
      </dl>
</body>
</html>