<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="main.css" rel="stylesheet" type="text/css">

</head>
<body>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="courses.html">Courses</a></li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="develpment.html">Development</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>

    <div class="head">
        <h1>Kelly Rosa Braghetto</h1>
        <br>      
        <h2>Assistant Professor
            <br>
            <a href="http://www.ime.usp.br/dcc/index-english.php" class="el">Department of Computer Science</a>
            <br>
            <a href="http://www.ime.usp.br/" class="el"> Institute of Mathematics and Statistics</a>
            <br>
            <a href="http://www.usp.br/internacional/home.php?&amp;idioma=en" class="el">University of São Paulo</a>
        </h2>

	<hr>

      <h3>Courses (in Portuguese):</h3>
      <ul>
            <li><a href="https://www.ime.usp.br/~kellyrb/mac2166_2017" class="el">[2017, 1st semester] MAC2166 - Introdução à Computação</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=1128" class="el">[2017, 1st semester] IBI5013 - Banco de Dados para Bioinformática</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=1127" class="el">[2017, 1st semester] MAC0426 - Sistemas de Bancos de Dados</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=833" class="el">[2016, 2st semester] MAC0313 - Introdução aos Sistemas de Bancos de Dados para Estatística</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=998" class="el">[2016, 1st semester] IBI5013 - Banco de Dados para Bioinformática</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=996" class="el">[2016, 1st semester] MAC0426 - Sistemas de Bancos de Dados</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=949" class="el">[2015, 2nd semester] MAC5861 - Modelagem de Banco de Dados</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=959" class="el">[2015, 2nd semester] MAC0439 - Laboratório de Bancos de Dados</a></li>
            <li><a href="https://www.ime.usp.br/~kellyrb/mac2166_2015" class="el">[2015, 1st semester] MAC2166 - Introdução à Computação</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=833" class="el">[2014, 1st semester] MAC0313 - Introdução aos Sistemas de Bancos de Dados para Estatística</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=831" class="el">[2014, 2nd semester] MAC0439 - Laboratório de Bancos de Dados</a></li>
            <li><a href="https://www.ime.usp.br/~kellyrb/mac2166_2014" class="el">[2014, 1st semester] MAC2166 - Introdução à Computação</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=751" class="el">[2013, 2nd semester] MAC5861 - Modelagem de Banco de Dados</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=734" class="el">[2013, 2nd semester] MAC0439 - Laboratório de Bancos de Dados</a></li>
            <li><a href="http://paca.ime.usp.br/course/view.php?id=681" class="el">[2013, 1st semester] MAC0211 - Laboratório de Programação</a></li>
      </ul>

    <h3>Talks (in Portuguese):</h3>
    <ul>
	    <li>March, 2015 - <b>A Nova Ciência Baseada em Dados</b> apresentado na mesa-redonda com o tema <a href="http://www.usp.br/imprensa/?p=46965" class="el">"Semeando na Nuvem - A biblioteca, a inovação e a produção de conhecimento"</a> do evento comemorativo do Dia do Bibliotecário 2015, promovido pelo <a href="http://www.sibi.usp.br/" class="el">Sistema Integrado de Bibliotecas (SIBi) da USP</a> <a href="https://www.ime.usp.br/~kellyrb/files/slides_sibi15.pdf">[Slides]</a>.</li>
    </ul>
    
    <h3>Tutorials (in Portuguese):</h3>
    <ul>
	    <li>September, 2014 - <b>Introdução ao Armazenamento de Dados de Experimentos em Neurociência</b> presented at <a href="http://sbnec.org.br/congresso2014/" class="el">XXXVIII Reunião da Sociedade Brasileira de Neurociências e Comportamento (SBNeC 2014) </a><a href="https://www.ime.usp.br/~kellyrb/sbnec2014" class="el">[Slides and other resources]</a>.</li>	
	    <li>July, 2014 - <b>Introdução à Modelagem e Execução de Workflows Científicos</b> presented at <a href="http://csbc2014.cic.unb.br/index.php/jai" class="el">XXXIII Jornadas de Atualização em Informática (JAI 2014) </a><a href="https://www.ime.usp.br/~kellyrb/files/jai2014-workflows.pdf" class="el">[slides]</a> <a href="https://www.ime.usp.br/~kellyrb/files/jai2014-cap-workflows.pdf" class="el">[lecture notes]</a>.</li>	
    </ul>
</body>
</html>
